/* .leaflet-tooltip {
    background: none;
    background-color: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
    margin: none;
} */
.airport-tooltip {
    background: none;
    background-color: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
    margin: none;
}